In [4]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.'''

'Q1. What is a database? Differentiate between SQL and NoSQL databases.'

In [17]:
'''A dataset is a collection of data in a digital format that is readily accessible. 

An electronic collection of structured data that has been saved in an ordered manner in a computer system is called a database.
It is made to handle, store, retrieve, and update data effectively.


NoSQL (Not Only SQL) and SQL (Structured Query Language) are two distinct categories of database management systems, each having unique attributes:

SQL-based databases:

The foundation of SQL databases is an organized schema that stores information in tables, rows, and columns.
They guarantee data integrity by adhering to the ACID (Atomicity, Consistency, Isolation, Durability) criteria.
Oracle, MySQL, PostgreSQL, and Microsoft SQL Server are a few examples of SQL databases.
Databases without SQL:

NoSQL databases may manage a variety of data types, including unstructured and semi-structured data.
They provide adaptable schemas, enabling'''

'A dataset is a collection of data in a digital format that is readily accessible. \n\nAn electronic collection of structured data that has been saved in an ordered manner in a computer system is called a database. It is made to handle, store, retrieve, and update data effectively.\n\n\nNoSQL (Not Only SQL) and SQL (Structured Query Language) are two distinct categories of database management systems, each having unique attributes:\n\nSQL-based databases:\n\nThe foundation of SQL databases is an organized schema that stores information in tables, rows, and columns.\nThey guarantee data integrity by adhering to the ACID (Atomicity, Consistency, Isolation, Durability) criteria.\nOracle, MySQL, PostgreSQL, and Microsoft SQL Server are a few examples of SQL databases.\nDatabases without SQL:\n\nNoSQL databases may manage a variety of data types, including unstructured and semi-structured data.\nThey provide adaptable schemas, enabling'

In [8]:
'''Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'''

'Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'

In [10]:
'''Data Definition Language, or DDL for short, is a subset of Structured Query Language that
is used to specify and control a database's object structure. Tables, indexes, views, and other database objects can be created, 
modified, and deleted using DDL statements.
CREATE: To create new database objects, including tables, views, indexes, and databases themselves, use the CREATE statement.
CREATE TABLE employee(
id INT PRIMARY KEY
name VARCHAR()
salary INT
);
DROP:DROP: To remove already-existing database objects, including tables, views, indexes, 
and databases themselves, use the DROP statement.
DROP TABLE employees;
ALTER: The ALTER statement is used to change constraints or add, remove, or alter columns in a table in order 
to alter the structure of already-existing database objects.
ALTER TABLE table_name
DROP COLOUMN coloumn_name ;
TRUNCATE: The TRUNCATE statement eliminates every record from a table while keeping the table's structure whole
TRUNCATE TABLE table_name ;(To delete table data)'''

"Data Definition Language, or DDL for short, is a subset of Structured Query Language that\nis used to specify and control a database's object structure. Tables, indexes, views, and other database objects can be created, \nmodified, and deleted using DDL statements.\nCREATE: To create new database objects, including tables, views, indexes, and databases themselves, use the CREATE statement.\nCREATE TABLE employee(\nid INT PRIMARY KEY\nname VARCHAR()\nsalary INT\n);\nDROP:DROP: To remove already-existing database objects, including tables, views, indexes, \nand databases themselves, use the DROP statement.\nDROP TABLE employees;\nALTER: The ALTER statement is used to change constraints or add, remove, or alter columns in a table in order \nto alter the structure of already-existing database objects.\nALTER TABLE table_name\nDROP COLOUMN coloumn_name ;\nTRUNCATE: The TRUNCATE statement eliminates every record from a table while keeping the table's structure whole\nTRUNCATE TABLE table_name ;(To delete table data)"

In [11]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'''

'Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'

In [1]:
'''DML stands for data manupulation language in SQL. Its statement is used to manupulate data in database using UPDATE, 
insert, and DELETE Keyword.

INSERT INTO student
(rollno, name)
VALUES
(101."nintin") ;
 UPDATE modify the existing value 
 UPDATE employees
SET salary = 55000
WHERE id = 1;
DELETE remove records from table
DELETE FROM employees
WHERE id = 1;
'''

'DML stands for data manupulation language in SQL. Its statement is used to manupulate data in database using UPDATE, \ninsert, and DELETE Keyword.\n\nINSERT INTO student\n(rollno, name)\nVALUES\n(101."nintin") ;\n UPDATE modify the existing value \n UPDATE employees\nSET salary = 55000\nWHERE id = 1;\nDELETE remove records from table\nDELETE FROM employees\nWHERE id = 1;\n'

In [2]:
'''Q4. What is DQL? Explain SELECT with an example.'''

'Q4. What is DQL? Explain SELECT with an example.'

In [3]:
'''The SELECT statement in SQL is the main component of DQL, or Data Query Language (Structured Query Language).
Data retrieval or querying from a database is done using DQL.

The fundamental building block of DQL is the SELECT statement, which is used to extract particular data or information from 
one or more database tables.
Example :
SELECT * FROM employee;   it will select all element of employee
SELECT DISTINCT city FROM student ; It will give distinct value 
SELECT * From student LIMIT 3 ;'''

'The SELECT statement in SQL is the main component of DQL, or Data Query Language (Structured Query Language).\nData retrieval or querying from a database is done using DQL.\n\nThe fundamental building block of DQL is the SELECT statement, which is used to extract particular data or information from \none or more database tables.\nExample :\nSELECT * FROM employee;   it will select all element of employee\nSELECT DISTINCT city FROM student ; It will give distinct value \nSELECT * From student LIMIT 3 ;'

In [4]:
'''Q5. Explain Primary Key and Foreign Key.'''

'Q5. Explain Primary Key and Foreign Key.'

In [5]:
'''Relational databases use two key concepts—primary key and foreign key—to create relationships between tables and guarantee data integrity.

Principal Key

A column, or group of columns, in a database that uniquely identifies every record or row in the table is called a primary key.
It cannot have null values and each row must have a unique value.
You can make sure that every record in a table can be uniquely identified by establishing a Primary Key.
A table may have only one Primary Key defined.
Not a native key

A table's foreign key is a column, or group of columns, that creates a connection between the data in two tables.
It alludes to another table's Primary Key, which is typically connected.
By guaranteeing that values in the Foreign Key column either exist in the Primary Key column of the referenced table or are null, 
the Foreign Key constraint preserves referential integrity.
In a relational database, it facilitates the enforcement of relationships and consistency between tables.'''

"Relational databases use two key concepts—primary key and foreign key—to create relationships between tables and guarantee data integrity.\n\nPrincipal Key\n\nA column, or group of columns, in a database that uniquely identifies every record or row in the table is called a primary key.\nIt cannot have null values and each row must have a unique value.\nYou can make sure that every record in a table can be uniquely identified by establishing a Primary Key.\nA table may have only one Primary Key defined.\nNot a native key\n\nA table's foreign key is a column, or group of columns, that creates a connection between the data in two tables.\nIt alludes to another table's Primary Key, which is typically connected.\nBy guaranteeing that values in the Foreign Key column either exist in the Primary Key column of the referenced table or are null, \nthe Foreign Key constraint preserves referential integrity.\nIn a relational database, it facilitates the enforcement of relationships and consistency between tables."

In [6]:
'''Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'''

'Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'

In [14]:



'''import mysql.connector

try:
    connection = mysql.connector.connect(
        host='xyz',
        user='abc',
        password='123',
        database='your_database'
    )

    if connection.is_connected():
        print("Connected to MySQL database!")


    cursor = connection.cursor()


    cursor.execute("SELECT * FROM your_table")

    rows = cursor.fetchall()
    for row in rows:
        print(row)

except mysql.connector.Error as e:
    print("Error connecting to MySQL:", e)

finally:

    if 'connection' in locals() and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed.")
cursor() technique:

You can work with the MySQL database by creating a cursor object with the cursor() method.
You can run SQL queries on it, retrieve data, and carry out different database actions.
use the execute() method

SQL queries are executed using the cursor object's execute() method.
This function receives SQL queries as strings.
It can carry out Data Definition Language (DDL) queries (such as CREATE, DROP, ALTER) and Data Manipulation Language (DML)
queries (such as SELECT, INSERT, UPDATE, and DELETE).'''

'import mysql.connector\n\ntry:\n    connection = mysql.connector.connect(\n        host=\'xyz\',\n        user=\'abc\',\n        password=\'123\',\n        database=\'your_database\'\n    )\n\n    if connection.is_connected():\n        print("Connected to MySQL database!")\n\n\n    cursor = connection.cursor()\n\n\n    cursor.execute("SELECT * FROM your_table")\n\n    rows = cursor.fetchall()\n    for row in rows:\n        print(row)\n\nexcept mysql.connector.Error as e:\n    print("Error connecting to MySQL:", e)\n\nfinally:\n\n    if \'connection\' in locals() and connection.is_connected():\n        cursor.close()\n        connection.close()\n        print("MySQL connection is closed.")\ncursor() technique:\n\nYou can work with the MySQL database by creating a cursor object with the cursor() method.\nYou can run SQL queries on it, retrieve data, and carry out different database actions.\nuse the execute() method\n\nSQL queries are executed using the cursor object\'s execute() method.\nThis function receives SQL queries as strings.\nIt can carry out Data Definition Language (DDL) queries (such as CREATE, DROP, ALTER) and Data Manipulation Language (DML)\nqueries (such as SELECT, INSERT, UPDATE, and DELETE).'

In [15]:
'''Q7. Give the order of execution of SQL clauses in an SQL query.'''

'Q7. Give the order of execution of SQL clauses in an SQL query.'

In [16]:
''' When building a multi-clause SQL query, there is a 
particular order in which the clauses are executed. In a SELECT statement, the SQL clauses usually appear in the following order:

FROM: The tables from which data will be fetched are listed in the FROM clause. In a SELECT statement, it is the first clause to be executed.


WHERE: Using a predetermined criterion, the WHERE clause selects rows from the tables listed in the FROM clause. It serves as a filter for the 
rows that satisfy the given requirements.

GROUP BY: When using aggregate functions like SUM, COUNT, AVG, and so forth, rows with the same values are grouped together into summary rows
using the GROUP BY clause. It works with the rows that come from'''

' When building a multi-clause SQL query, there is a \nparticular order in which the clauses are executed. In a SELECT statement, the SQL clauses usually appear in the following order:\n\nFROM: The tables from which data will be fetched are listed in the FROM clause. In a SELECT statement, it is the first clause to be executed.\n\n\nWHERE: Using a predetermined criterion, the WHERE clause selects rows from the tables listed in the FROM clause. It serves as a filter for the \nrows that satisfy the given requirements.\n\nGROUP BY: When using aggregate functions like SUM, COUNT, AVG, and so forth, rows with the same values are grouped together into summary rows\nusing the GROUP BY clause. It works with the rows that come from'